:root {
  --white-color: #fff;
  --black-color: #0f0f0f;
  --red-color: #ff0000;
  --light-gray-color: #272727;
  --gray-color: #bcbcbc;
  --dark-gray-color: #222222;
  --brown-color: #5d4138;
  --blue-color: #0000ff;
}

* {
  padding: 0;
  margin: 0;
  color: var(--white-color);
  background-color: var(--black-color);
  box-sizing: border-box;
}

ul {
  list-style: none;
}

i {
  font-size: 1.25rem;
}

button {
  border: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  font-family: Roboto;
  font-size: 0.875rem;
}

header {
  padding: 0px 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  height: 3.5rem;
}

header .barAndLogo {
  display: flex;
}

header .barAndLogo .bar .fa-bars {
  padding: 0.625rem;
}

header .barAndLogo .bar .fa-bars:hover {
  border-radius: 100%;
  background-color: var(--dark-gray-color);
}

header .barAndLogo .logo {
  white-space: nowrap;
  padding: 1rem 1.25rem;
  padding-right: 0;
}

header .barAndLogo .logo .fa-youtube {
  color: var(--red-color);
}

header .barAndLogo .logo .premium {
  font-size: 1.25rem;
}

header .searchBox {
  white-space: nowrap;
  width: 50.625rem;
  padding: 0 5rem;
  display: flex;
  position: relative;
}

header .searchBox .searchTxt {
  border-radius: 30px 0 0 30px;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 2.5rem;
  font-size: 1rem;
  border: 1px solid var(--light-gray-color);
}

header .searchBox .searchTxt:focus {
  outline: none;
  border: 1px solid var(--blue-color);
}

header .searchBox .searchIcons .keyboard {
  position: absolute;
  right: 13rem;
  bottom: 0.625rem;
}

header .searchBox .searchIcons .fa-magnifying-glass {
  border: 1px solid var(--light-gray-color);
  border-radius: 0 30px 30px 0;
  width: 4rem;
  height: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
  background-color: var(--dark-gray-color);
}

header .searchBox .searchIcons .fa-microphone {
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
  background-color: var(--dark-gray-color);
  margin-left: 0.75rem;
}

header .icons {
  display: flex;
}

header .icons .responsiveSearch,
.responsiveVoice {
  display: none;
}

header .icons i {
  padding: 0.8125rem;
}

header .icons i:hover {
  border: none solid var(--dark-gray-color);
  border-radius: 100%;
  background-color: var(--dark-gray-color);
}

header .icons .account {
  border-radius: 100%;
  background-color: var(--brown-color);
  width: 2rem;
  height: 2rem;
  text-align: center;
  margin: 0.8125rem;
}

header .icons .username {
  font-size: 0.875rem;
  background-color: var(--brown-color);
}

.menu {
  display: flex;
  position: fixed;
  z-index: 1;
  top: 3.5rem;
  font-size: 0.875rem;
  padding: 0.75rem;
  flex-direction: column;
  height: calc(100% - 3.5rem);
  overflow-y: scroll;
  align-items: center;
}

.menu ul li {
  padding: 0.75rem;
  width: 12.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.menu ul .fa-copy {
  display: none;
}

.menu ul li:not(.noBorder):hover {
  border: none;
  border-radius: 10px;
  background-color: var(--dark-gray-color);
  i,
  span {
    background-color: var(--dark-gray-color);
  }
}

.menu li i,
.menu img {
  margin-right: 25px;
  width: 1.25rem;
  height: 1.25rem;
}

.menu hr {
  border: 1px solid var(--dark-gray-color);
  margin: 0.625rem 0;
}

.menu > hr {
  width: calc(100% + 1.5rem);
}

.menu .subscribe li {
  display: flex;
  align-items: center;
}

.menu .subscribe .moreSubscribe,
.menu .subscribe .less {
  display: none;
}

.menu .subscribe img {
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
}

.menu .more .fa-circle-play,
.fa-square-youtube {
  color: var(--red-color);
}

.genre {
  padding: 1rem 1.5rem;
  position: fixed;
  width: calc(100% - 224px);
  left: 14rem;
  z-index: 1;
  overflow: scroll;
  top: 3.5rem;
}

.genre::-webkit-scrollbar {
  display: none;
}

.genre ul {
  display: flex;
  gap: 0.625rem;
}

.genre ul li button {
  border-radius: 0.5rem;
  background-color: var(--dark-gray-color);
  padding: 0.5rem 0.75rem;
  white-space: nowrap;
  overflow: hidden;
}

.genre ul li button:hover {
  background-color: var(--white-color);
  color: var(--black-color);
}

.video {
  display: flex;
  padding: 0.75rem;
  position: absolute;
  top: 7.5rem;
  left: 14rem;
}

.video ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.video ul li {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 0.75rem;
}

.video ul li article .thumbnail img {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 5%;
}

.video ul li article .avatarAndInfo {
  display: flex;
  padding: 0.5rem 0;
}

.video ul li article .avatarAndInfo .avatar img {
  width: 2.25rem;
  border-radius: 50%;
}

.video ul li article .avatarAndInfo .info {
  display: flex;
  flex-direction: column;
  padding: 0 0.625rem;
  align-items: flex-start;
}

.video ul li article .avatarAndInfo .info .title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1rem;
}

.video ul li article .avatarAndInfo .info .name:hover {
  color: var(--white-color);
}

.video ul li article .avatarAndInfo .info .name,
.viewsAndTime {
  font-size: 0.875rem;
  color: var(--gray-color);
}

.video ul li article .avatarAndInfo .fa-solid {
  margin-left: auto;
}

@media screen and (max-width: 1575px) {
  .video ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1312px) {
  .menu {
    padding: 0.25rem;
  }
  .menu ul .asideMenu {
    display: flex;
    flex-direction: column;
    width: 4rem;
    align-items: center;
    justify-content: center;
    height: 5rem;
    font-size: 0.625rem;
    gap: 0.625rem;
    padding: 0.25rem 0;
  }
  .menu ul .asideMenu span {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
  }
  .menu ul .asideMenu .greaterThan {
    display: none;
  }
  .menu ul li,
  .menu .subscribe {
    display: none;
  }
  .menu ul li i {
    margin: 0;
    width: auto;
  }
  .menu .myPage .asideMenu .fa-copy {
    display: block;
  }
  hr {
    display: none;
  }
  .genre,
  .video {
    left: 4.5rem;
  }
  .genre {
    width: calc(100% - 4.5rem);
  }
  .video {
    padding: 1rem 0.75rem;
  }
}

@media screen and (max-width: 1080px) {
  .video ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 791px) {
  .menu {
    display: none;
  }
  .genre,
  .video {
    left: auto;
  }
  .genre {
    width: 100%;
  }
}

@media screen and (max-width: 683px) {
  .video ul {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 654px) {
  header .searchBox {
    display: none;
  }
  header .icons .responsiveSearch,
  .responsiveVoice {
    display: block;
  }
  header .icons i {
    padding: 0.625rem;
  }
}
